include requirements.txt
include README.md
include LICENSE
recursive-include src/GenAIRR/data *.pkl *.json
recursive-include src/GenAIRR/data/builtin_dataconfigs *.pkl *.json
recursive-include src/GenAIRR/data/mutation_model_parameters *.pkl *.json
